<h1>Geomap#index</h1>
<p>Find me in app/views/geomap/index.html.erb</p>
<div id="map" style="width:100%;height:300px;padding:0;margin:0;">hello</div>

<script type="text/javascript">
   $(document).ready(function(){  
       var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/3d056fbd77f2496db56bf2e01f984a01/22677/256/{z}/{x}/{y}.png',  
       cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 FirstFuel',  
       cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttribution, key: 'xxxxxxxxxxxx'  
       }),  
       latlng = new L.LatLng(<%= raw @lat.to_json %>,<%= raw @lng.to_json %>);  
       fsMap = new L.Map('map', {center: latlng, zoom:15, zoomControl:false, layers: [cloudmade], scrollWheelZoom : false});     
     });
</script>