<!DOCTYPE html>
<html>
<head>
  <title>Wayprint</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
 <%= debug(params) %>
</body>
</html>
