<!DOCTYPE html>
<html>
<head>
  <title>Travelapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dark">

  <%= yield %>

  <div class="debug">
    <%= debug(params) %>
  </div>
</body>
</html>
